
body {
  background-color: red !important;
}

.section-1 {
  display: flex;
  padding: 160px 0;
  flex-direction: column;
  align-items: center;

  .vip {
    display: flex;
    gap:48px;

    .img-wrap {
      display: flex;
      max-width: 310px;
      border-radius: 8px;
      border:1px solid;
      overflow: hidden;
      flex: 1 0 0;
      
      p {
        margin-bottom: 0;
      }
    }
    
    .level3 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 1 0 0;
    }
  }
}

@media all and (min-width: 500px) {}
@media all and (min-width: 700px) {}
@media all and (min-width: 768px) {}
@media all and (min-width: 992px) {}
@media all and (min-width: 1170px){}