/*-- scss:defaults --*/

// Type system
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

$font-size-root: 16px;
$font-size-base: 1rem !default;

$h1-font-size: $font-size-base*2.5 !default;
$h2-font-size: $font-size-base*2.25 !default;
$h3-font-size: $font-size-base*1.75 !default;
$h4-font-size: $font-size-base*1.25 !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

// Color system
$lightwhite: #f4f4f4 !default;
$black: #212121 !default;
$gray: #3E3E3E !default;
$medium-gray: #898989 !default;
$light-gray: #E4E4E4 !default;
$brass: #ddaa90 !default;
$dark-brass: #B0623B !default;
$light-brass: #ffeee6 !default;

// Bootstrap color system
$btn-primary-color: $lightwhite;
$btn-default-color: $lightwhite;

$primary: $gray !default;
$secondary: $brass !default;
$success: $brass !default;
$info: $brass !default;
$warning: $brass !default;
$danger: $brass !default;
$light: $brass !default;
$dark: $brass !default;

// Navbar
$navbar-bg: $black !default;
$navbar-brand-padding-y: 1rem !default;

/*-- scss:rules --*/

.quarto-container {
  overflow: hidden;
}

.btn {
  border-radius: 100px;
  padding: 10px 30px;
  min-width: 200px;
}

.btn-primary {
  color: $lightwhite;
  border: none;

  &:hover {
    background: $dark-brass;
    color: $lightwhite;
  }
}

p {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
}

a {
  color: $brass;
}

h3.center-align {
  padding: 0 8px;
  justify-content: center;
  position: relative;
  border-bottom: 0;
  margin: 0 !important;
  width: fit-content;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    width: 100%;
    border-radius: 4px;
    background-color: $light-brass;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  a {
    display: none;
  }
}

h3.left-align {
  padding-left: 24px;
  margin: 0;
  border-left: 4px solid $brass;

  a {
    display: none;
  }
}

.small-btn {
  border: 1px solid $gray;
  border-radius: 8px;
  display: flex;
  min-width: 100px;
  height: 30px;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: $gray;
  text-decoration: none;
  font-size: 12px;
  transition: .2s;

  i {
    font-size: 16px;
    width: 16px;

    &.bi-link-45deg {
      font-size: 20px;
      width: 20px;
    }
  }

  svg {
    width: 20px;
    fill: $gray;
    transition: .2s;
  }

  &:hover {
    border: 1px solid $brass;
    color: $brass;

    svg {
      fill: $brass;
    }
  }
}

h2.section-header {
  text-align: center;
  margin: 0 auto !important;
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  a {
    display: none;
  }

  &::before,
  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 100vw;
    height: 2px;
    background-color: $light-gray;
  }

  &::before {
    left: calc(100% + 20px);
  }

  &::after {
    right: calc(100% + 20px);
  }
}

.back-to-position {
  opacity: 0;
  transition: 1s;
  transform:translateY(50px);

  &.hero-banner {
    transition: 1.5s;
  }

  &.pillar {
    &:nth-of-type(2) {
      transition-delay: .2s;
    }
    &:nth-of-type(3) {
      transition-delay: .4s;
    }
  }
}

.show.back-to-position {
  opacity: 1;
  transform: translateY(0);
}

// Header
header {
  transition: transform 100ms linear !important; //navbar collapse 

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background: url(./assets/ssg_pattern.svg) repeat-x;
    background-color: $black;
    background-size: 280px 80px;
    background-position: top left;
    position: relative;

    .navbar-container {
      align-items: stretch !important;
      -webkit-align-items: stretch !important;

      .navbar-brand-container {
        .navbar-brand {
          .navbar-logo {
            max-height: 48.01px;
          }
        }
      }

      .collapse {
        align-items: stretch !important;
        -webkit-align-items: stretch !important;

        // tools (github, discord icon)
        .quarto-navbar-tools {
          display: flex;
          align-items: center;
          justify-content: center;
          -webkit-align-items: center;
          padding: 12px 0;

          .quarto-navigation-tool {
            margin: 0 8px;

            .bi {
              font-size: 1.5rem;
              transition: opacity .1s;
              color: $lightwhite;
              opacity: .4;

              &:hover {
                color: $light-brass;
                opacity: 1;
              }
            }

            svg {
              fill: $lightwhite;
              // width: 24px;
              display: flex;
              align-items: center;
              transition: opacity .1s;
              opacity: .4;

              &:hover {
                fill: $light-brass;
                opacity: 1;
              }
            }
          }
        }

        // nav bar menu items
        .navbar-nav {
          .nav-item {
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;

            &::after {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              margin: 0 auto;
              display: block;
              content: "";
              width: 100%;
              height: 1.5px;
              background-color: $lightwhite;
              opacity: 0.1;
            }

            &:first-of-type {
              margin-top: 16px;
            }

            .nav-link {
              top: 0;
              bottom: 0;
              width: 100%;
              padding: 8px 16px !important;
              color: $lightwhite !important;
              opacity: 0.4;
              font-size: 1rem;

              &:hover {
                background-color: rgba(255, 255, 255, 0.1);
                opacity: 1;
                color: $light-brass !important;
              }

              &.active {
                background-color: rgba(255, 255, 255, 0.1);
                opacity: 1;
                color: $light-brass !important;
              }
            }
          }
        }
      }

      // search bar on nav
      .type-overlay {
        display: flex;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        margin-right: 16px;

        .aa-SubmitIcon:hover {
          color: $light-brass !important;
          transition: color 100ms linear;
        }
      }
    }
  }
}

// Footer
footer.custom-footer {
  background-color: $black;

  p {
    padding: 0;
    margin: 0;
    font-family: "be vietnam pro";
    color: $medium-gray;
    font-size: 14px;
    line-height: 24px;
  }

  a {
    text-decoration: none;
    margin-bottom: 2px;
    color: $medium-gray;

    &:hover p {
      color: $lightwhite;
      transition: color .3s;
    }
  }

  .footer-container {
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 48px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    max-width: 900px;

    .footer-top {
      display: flex;
      width: 100%;
      padding: 64px 0;
      justify-content: space-between;
      align-items: flex-start;
      row-gap: 40px;
      align-self: stretch;
      flex-wrap: wrap;

      .footer-row {
        display: flex;
        width: 320px;
        flex-direction: column;
        align-items: flex-start;
        gap: 36px;

        &:first-of-type {
          margin-right: 80px;
        }

        &:nth-of-type(2) {
          gap: 16px;
        }

        .logo-wrap {
          width: 100%;

          img.ssg-logo {
            width: 100%;
          }
        }

        &:first-of-type {
          a {
            text-decoration: underline;

            &:hover {
              color: $lightwhite;
              transition: color .3s;
            }
          }
        }

        .tools-wrap {
          display: flex;
          align-items: center;
          gap: 24px;

          .bi {
            font-size: 32px;
            color: $medium-gray;

            &:hover {
              color: $lightwhite;
              transition: color .3s;
            }
          }

          svg {
            fill: $medium-gray;
            width: 30px;
            display: flex;
            align-items: center;
            transition: fill .3s;

            &:hover {
              fill: $lightwhite;
            }
          }
        }

        .link-wrap {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;

          .footer-link {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            gap: 10px;

            .bi {
              width: 20px;
              font-size: 20px;
              color: $lightwhite;
            }

            p.link-list-title {
              font-size: 16px;
              color: $lightwhite;
              font-weight: 600;
            }

          }

          &:nth-of-type(2) .bi {
            margin-left: -4px;
            width: 24px;
          }

          &:nth-of-type(3) .bi {
            margin-left: -3px;
            width: 23px;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 24px 0;
    width: 100%;
    border-top: 1px solid $gray;

    p.copyright {
      text-align: center;
    }
  }
}

// Scroll Top
.scroll-top {
  display: none;
}

// hero banner section≈
.hero-banner {
  min-height: 75vh;
  display: flex;

  .content-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 10px;
    flex: 1 0 0;
    flex-wrap: wrap;
    flex-flow: row-reverse;

    .hero-text {
      display: flex;
      min-width: 358px;
      max-width: 384px;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 32px;
      flex: 1 0 0;

      h1,
      p {
        margin: 0;
      }

      .hero-buttons {
        display: flex;
        justify-content: center;
      }
    }

    .hero-image-wrap {
      display: flex;
      min-width: 330px;
      max-width: 450px;
      flex-direction: column;
      align-items: flex-start;
      flex: 1 0 0;
    }
  }
}

// a vip team at vcu section
.section-1 {
  display: flex;
  padding: 160px 0;
  flex-direction: column;
  align-items: center;

  .vip {
    display: flex;
    gap: 48px;
    align-items: center;

    .img-wrap {
      display: flex;
      max-width: 310px;
      border-radius: 8px;
      overflow: hidden;
      flex: 1 0 0;

      p {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }

    .level3 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 1 0 0;

      a.linkwitharrow {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        color: $medium-gray;
        transition: color .3s;

        &:hover {
          color: $black;
        }

        i {
          font-size: 24px;
          height: 16px;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

//creating sofwares that benefits communities

.section-2 {
  display: flex;
  padding: 128px 0;
  justify-content: center;
  align-items: center;
  position: relative;


  .community-backdrop {
    background-color: $black;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    z-index: -1;

    .community-background {
      background-image: url(./assets/the-compass.jpeg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      width: 100%;
      height: 100%;
      opacity: 0.2;
      mix-blend-mode: overlay;
    }
  }

  .creating-softwares {
    display: flex;
    align-items: center;
    gap: 64px;

    .level3 {
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: $lightwhite;
      flex: 8 0 0;
      width: 48%;
      ;
    }

    .img-wrap {
      display: block;
      width: 45%;

      p {
        display: block;

        img {
          width: 100%;
        }
      }
    }
  }
}

// student driven team section


.section-3 {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 160px 0;

  .student-driven {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;
  }

  .student-teams {
    .swiper-container {

      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          padding: 24px 16px;
          margin-right: 0;

          .slide-inside {
            display: flex;
            flex-direction: column;
            padding: 32px;
            gap: 24px;
            border-radius: 8px;
            border: 2px solid $light-gray;

            .slide-title {
              display: flex;
              align-items: center;
              gap: 16px;

              img {
                width: 48px;
              }
            }
          }
        }
      }

      .swiper-nav.top {
        display: flex;
        justify-content: center;

        .swiper-pagination {
          position: static;
          display: flex;

          .swiper-pagination-bullet {
            padding: 6px 16px;
            display: block;
            border-radius: 0;
            width: auto;
            height: auto;
            background-color: $white;
            font-size: 20px;
            font-weight: 500;
            color: $medium-gray;
            opacity: 0.7;
            transition: color .3s;

            &:hover {
              color: $black;
            }
          }

          .swiper-pagination-bullet-active {
            border-bottom: 4px solid $brass;
            color: $black;
            opacity: 1;
          }

          .swiper-pagination-bullet::before {
            display: block;
          }

          .swiper-pagination-bullet:nth-of-type(1)::before {
            content: "Develop";
          }

          .swiper-pagination-bullet:nth-of-type(2)::before {
            content: "Design";
          }

          .swiper-pagination-bullet:nth-of-type(3)::before {
            content: "Research";
          }
        }
      }

      .swiper-nav.bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 80px;

        .swiper-pagination {
          display: flex;
          gap: 12px;

          .swiper-pagination-bullet {
            background-color: $light-gray;
            opacity: 1;
          }

          .swiper-pagination-bullet-active {
            background-color: $brass;
          }
        }

        .swiper-prev,
        .swiper-next {
          font-size: 32px;
          color: $medium-gray;
        }

        .swiper-button-disabled {
          color: $light-gray;
        }
      }
    }
  }
}

// our mission section

.section-4 {
  display: flex;
  padding: 64px 0px 160px;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  &>p {
    max-width: 600px;
    text-align: center;
  }

  .pillars {
    display: flex;
    gap: 32px;

    .pillar {
      display: flex;
      flex-direction: column;
      padding: 24px;
      gap: 24px;
      flex: 1 0 0;
      border-radius: 8px;
      border: 2px solid $light-gray;

      img {
        min-height: 154px;
      }

      .level3 {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }
  }
}

// why work with us section

.section-5 {
  display: flex;
  padding: 64px 0px;
  flex-direction: column;
  align-items: center;
  gap: 64px;

  p {
    text-align: center;
  }

  .diagram {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    border-radius: 8px;
    overflow: hidden;

    .level3 {
      width: 100%;
      margin: 0;
      padding: 16px 0;
      background-image: url('./assets/ssg_pattern.svg');
      background-size: 50%;

      a {
        display: none;
      }

      color: $lightwhite;
      text-align: center;
    }

    .content {
      display: flex;
      flex-direction: column;
      border-radius: 0px 0px 8px 8px;
      border: 2px solid $lightwhite;
    }

    &:nth-of-type(1) .content {
      gap: 48px;
      padding: 32px 40px 64px;
    }

    &:nth-of-type(2) .content {
      gap: 32px;
      padding: 32px 40px 32px;
    }

    &:nth-of-type(3) .content {
      gap: 16px;
      padding: 32px 40px 32px;
    }
  }
}

// bottom CTA

.section-6 {
  padding: 64px 0;

  .last-cta {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 238, 230, 0.40);

    h3 {
      margin: 0;
      text-align: center;

      a {
        display: none;
      }

      &::after {
        background-color: $brass;
        opacity: .5;
      }
    }

    &>p {
      text-align: center;
    }

    .cta-cards {
      display: flex;
      padding-top: 32px;
      justify-content: center;
      gap: 32px;
      flex-wrap: wrap;
      border: none !important;

      a.card {
        color: $black;
        text-decoration: none;
        border: none;
        border-radius: 8px;
        background-color: $gray;

        &+p {
          display: none;
        }

        &:hover {
          .content-wrap {
            transform: translate(0, 0);

            h4 {
              &::before {
                width: calc(100% - 44px);
              }
            }

          }
        }

        .content-wrap {
          transform: translate(-4px, -4px);
          display: flex;
          box-sizing: border-box;
          width: 340px;
          padding: 24px;
          flex-direction: column;
          align-items: center;
          gap: 4px;
          flex-shrink: 0;
          border: 2px solid $medium-gray;
          border-radius: 8px;
          background-color: $white;
          transition: transform .2s;

          h4 {
            display: flex;
            width: 100%;
            justify-content: space-between;
            opacity: 1;
            text-align: left;
            font-size: 28px;
            margin: 0;
            padding: 0;
            position: relative;

            &::before {
              display: block;
              content: "";
              position: absolute;
              bottom: 0.5rem;
              left: -4px;
              height: 0.7rem;
              border-radius: 2px;
              background-color: $brass;
              z-index: -1;
              width: 0;
              transition: width .3s;
            }

            a {
              display: none;
            }

            i {
              display: flex;
              align-items: center;
              font-size: 40px;
            }
          }
        }
      }
    }
  }
}

// our team page #meet our team
#meet-our-team {

  h2 {
    padding-bottom: 4px;
    border-bottom: 2px solid $gray;

    a {
      display: none;
    }
  }

  .members-category-desc {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 16px;

    .desc {
      max-width: 420px;
    }

    .filter-control {
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      button.small-btn {

        &.active {
          color: $lightwhite;
          background-color: $gray;

          &:hover {
            border: 1px solid $gray;
          }
        }
      }
    }
  }

  .members-card-wrap {

    ul {
      padding: 0;
      width: 100%;

      li {
        list-style: none;
        margin-bottom: 24px;

        .members-card {
          width: 100%;
          display: block;
          text-decoration: none;
          position: relative;


          &>div {
            border-radius: 8px;
          }

          .card-shadow {
            position: absolute;
            top: 6px;
            left: 6px;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: $gray;
            z-index: -1;
          }

          .info-wrap {
            height: 100%;
            border: 2px solid $gray;
            overflow: hidden;
            background-color: $lightwhite;
            z-index: 0;

            .members-pic {
              width: 100%;
              padding-top: 100%;
              position: relative;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
              border-bottom: 2px solid $gray;
              background: url(./assets/ssg_placeholderimg.svg) no-repeat;
              background-size: cover;

              p {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
              }
            }

            .members-profile {
              padding: 10px 16px 16px;
              width: 100%;
              height: 100px;
              display: flex;
              flex-direction: column;

              .name p {
                font-size: 24px;
                line-height: 26px;
                font-weight: 600;
                margin-bottom: 8px;
              }

              .major p.overflow {
                max-height: 42px;
                overflow: hidden;
              }

              p {
                font-size: 16px;
                margin: 0;
                color: $black;

              }
            }
          }
        }
      }
    }
  }
}

// member bio page
#goback-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  color: $medium-gray;
  font-size: 20px;
  text-decoration: none;
  transition: color .2s;
  // margin-bottom: 32px;

  &:hover {
    color: $gray;
  }

  .bi-arrow-left-circle {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;

    &::before {
      margin-right: 10px;
      font-size: 32px;
      padding-bottom: 1px;
    }
  }
}

.profile-wrap {

  p {
    padding: 0 8px;
  }

  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 20px;
  width: 100%;

  .profile-bio {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 8px;

    .profile-pic-frame {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;

      .profile-pic {
        width: 200px;
        height: 200px;
        border-radius: 180px;
        overflow: hidden;

        p {
          padding: 0;

          img {
            width: 100%;
            max-width: 200%;
          }
        }
      }
    }

    .profile-name-links {
      border-bottom: 2px solid $light-gray;
      display: flex;
      padding: 8px;
      justify-content: space-between;
      align-items: center;
      row-gap: 16px;
      flex-wrap: wrap;

      h1 {
        margin: 0;
        margin-right: 56px;
      }

      .profile-links>p {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        a {
          border: 1px solid $gray;
          border-radius: 8px;
          display: flex;
          min-width: 100px;
          height: 30px;
          padding: 0px 8px;
          justify-content: center;
          align-items: center;
          gap: 6px;
          color: $gray;
          text-decoration: none;
          font-size: 12px;
          transition: .2s;

          i {
            font-size: 16px;
            width: 16px;

            &.bi-link-45deg {
              font-size: 20px;
              width: 20px;
            }
          }

          svg {
            width: 20px;
            fill: $gray;
            transition: .2s;
          }

          &:hover {
            border: 1px solid $brass;
            color: $brass;

            svg {
              fill: $brass;
            }
          }
        }
      }
    }

    .member-status {
      display: flex;
      gap: 8px;
      margin: 8px 6px 16px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: $medium-gray;

      &,
      p,
      a {
        padding: 0;
        font-size: 14px;
        text-decoration: none;
      }

      .status-wrap {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        align-items: center;

        &::before {
          content: "Status/Project:";
        }

        div {
          color: $lightwhite;
          border-radius: 12px;
          background-color: $gray;

          &,
          p,
          a {
            padding: 2px 24px;
            margin: 0;
            width: max-content;
          }
        }
      }
    }
  }

  section.level2 {
    border: 2px solid $gray;
    border-radius: 16px;
    overflow: hidden;

    h2 {
      margin: 0 !important;
      font-size: $font-size-base*1.75;
      padding: 8px 24px;
      background: url(./assets/ssg_pattern.svg) repeat-x;
      color: $lightwhite;

      a {
        display: none;
      }
    }

    ul {
      padding: 16px 32px 8px;
      margin: 0;

      li {
        margin-bottom: 8px;

        .item {
          .date {
            overflow: hidden;
            white-space: nowrap;
            color: $medium-gray;

            &::before {
              content: "- ";
            }
          }
        }
      }
    }
  }
}

.sidebar.margin-sidebar {
  display: none;
}

#quarto-document-content .sidebar.margin-sidebar {
  display: block;
}

#quarto-content #quarto-document-content {

  .project-banner-wrap {
    position: relative;
    padding: 150px 0 50px;
    // background-color: red;
    display: flex;

    .project-page-banner {
      h1 {}

      p {}
    }

    .project-banner-img-wrap {
      position: absolute;
      margin: 0 auto;
      // top:-200px;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      z-index: -1;
      display: flex;
      justify-content: center;

      .banner-shadow {
        z-index: 111;
        display: block;
        background-color: red;
        height: 100px;
        width: 100px;
      }

      img {
        width: 100vw;
      }
    }
  }

  // categories filter
  .sidebar.margin-sidebar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    margin-bottom: 40px;

    h5 {
      &::after {
        content: ":";
      }
    }

    .quarto-listing-category {
      display: flex;
      flex-wrap: wrap;
      gap: 6px;

      .category.active {
        color: $lightwhite;
        font-weight: 400;
        background-color: $gray;

        &:hover {
          border: 1px solid $gray;
        }
      }
    }
  }

  // project posts
  #listing-listing {
    .list {
      .g-col-1 {

        a {
          border: none !important;

          .quarto-grid-item {
            border-radius: 8px;
            border: 2px solid $black;
            overflow: hidden;

            p {
              border-radius: 0;

              img {
                border-radius: 0;
                border-bottom: 2px solid $black;
                background: url(assets/ssg_placeholderimg.svg) no-repeat;
                background-size: cover;
                background-position: center;
                min-height: 150px;
                min-width: 100%;
              }
            }

            .card-body {
              h5 {
                border-left: 4px solid $brass;
                padding-left: 8px;
                font-weight: 800;
              }

              .listing-categories {
                margin: 8px -2px 16px;
                gap: 4px;

                .listing-category {
                  font-size: 10px;
                  color: $lightwhite;
                  border-radius: 4px;
                  background-color: $gray;
                  padding: 2px 8px;
                  margin: 0;
                  width: max-content;
                }
              }

              .listing-description {}

              .card-attribution {
                justify-content: flex-start;
                gap: 0;

                .listing-date {}
              }
            }
          }
        }
      }
    }
  }
}

// contact us page

section.contact-us-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px;
  row-gap: 40px;

  h1 {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    position: relative;
    // font-size: $font-size-base*2.5;


    &::after {
      content: "";
      font-size: 16px;
      color: $medium-gray;
      font-weight: 400;
      line-height: 24px;
    }
  }

  p {
    font-size: 16px;
    color: $medium-gray;
    font-weight: 400;
    line-height: 24px;
  }

  &.contact-us {
    margin: 60px 0 100px;

    h1 {
      margin: 0 auto;

      &::after {
        content: "Curious how to join our team? Or concerned if you're a right fit to the team? Get in touch with us today."
      }
    }

    .contact-us-form {
      width: 100%;

      &::after {
        display: block;
        content: "";
        clear: right;
      }

      fieldset {

        label {
          position: relative;
          color: $dark-brass;
          margin-bottom: 4px;

          sup {
            &::after {
              content: "*";
            }
          }
        }

        input,
        textarea {
          width: 100%;
          display: block;
          border: 1px solid $black;
          margin-bottom: 16px;
          padding: 4px 8px;

          &:focus {
            outline: 2px solid $brass;
            border: 1px solid $brass;
          }
        }

        textarea {
          height: 150px;
          margin-bottom: 40px;
        }

        button {
          display: block;
          margin: 0 auto;
        }

        .thankyou-message {
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          padding: 40px;
          background-color: rgba(0, 0, 0, .7);
          z-index: 999;
          display: none;

          section {
            max-width: 550px;
            margin: 15vh auto;
            padding: 20px;
            border-radius: 5px;
            background: url(./assets/flying_mail.svg) no-repeat $lightwhite right center;
            background-size: calc(200px + 10vw);

            h1 {
              text-align: left;
              padding: 0;
              margin: 0 0 8px 0;
              max-width: 100% !important;
              font-size: calc(1.4rem + 0.5vw);

              &::after,
              &::before {
                display: none;
              }
            }

            p {
              margin-bottom: 32px;
            }

            a.btn.btn-primary.btn-sm {
              display: block;
              max-width: 200px;
              margin: 0 auto;
              min-width: 0 !important;
            }
          }
        }
      }
    }
  }

  &.location {
    flex-direction: column;
    row-gap: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;

    .backdrop {
      position: absolute;
      top: 0;
      height: 120%;
      width: 100vw;
      background-color: $black;
      z-index: -1;

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(./assets/VCU_ERB_CaryStEntry-scaled.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        opacity: .1;
      }
    }

    .bi-geo-alt-fill {
      color: $lightwhite;
      text-align: center;
      font-size: 60px;
    }

    h1 {
      color: $lightwhite;
      margin: 0 auto 32px;
    }

    p {
      text-align: center;
      color: $lightwhite;

      &:first-of-type {
        margin: 0;

        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 2px;
          background-color: $medium-gray;
          margin: 0.7rem auto;
        }
      }

      &:last-of-type {
        margin-bottom: 64px;
      }
    }

    .map-wrap {
      position: relative;
      display: flex;
      justify-content: center;
      height: 350px;
      width: 100%;

      iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100%;
      }
    }
  }
}


@media all and (min-width: 500px) {

  // hero banner section
  .hero-banner {
    .content-block {
      .hero-text {
        .hero-buttons {
          display: block;
        }
      }
    }
  }

}

@media all and (min-width: 700px) {

  // our team page #meet our team
  #meet-our-team {
    .members-card-wrap {

      ul {
        width: calc(100% + 24px);
        margin-left: -12px;

        li {

          float: left; // changed from right to left. 8/2/2023 JL

          width: calc(50% - 24px);
          margin: 12px;

          .members-card {
            .info-wrap {
              transition: all .3s;

              .members-profile {
                .name p {
                  display: inline-block;
                  font-size: 22px;
                  position: relative;
                  z-index: 0;

                  &::before {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 60%;
                    left: -4px;
                    height: 40%;
                    z-index: -1;
                    background-color: $brass;
                    width: 0;
                    opacity: .6;
                    transition: width .3s;
                  }
                }

                p {
                  font-size: 14px;
                }
              }
            }

            &:hover {
              .info-wrap {
                transform: translate(5px, 5px);

                .members-profile {
                  .name p::before {
                    width: calc(100% + 8px);
                  }
                }
              }
            }
          }
        }

        &::after {
          display: block;
          content: "";
          clear: both;
        }
      }
    }
  }

  // contact us page 
  section.contact-us-page {

    &.contact-us {
      .contact-us-form {
        padding: 0 10vw;

        fieldset {
          button {
            display: inline-block;
            margin: auto;
            float: right;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  // projects page

  #quarto-content {
    grid-template-columns: [screen-start] 1.5em [screen-start-inset page-start page-start-inset body-start-outset] 5fr [body-start] 1.5em [body-content-start] minmax(500px, calc(900px - 3em)) [body-content-end] 1.5em [body-end body-end-outset page-end-inset page-end] 5fr [screen-end-inset] 1.5em [screen-end];
  }
}

@media all and (min-width: 992px) {

  // Header
  header {
    .navbar {
      .navbar-container {
        max-width: 1000px;
        margin: 0 auto;

        .type-overlay {
          margin-right: 0;
        }

        .collapse {
          .navbar-nav {
            .nav-item {

              &:first-of-type {
                margin-top: 0;
              }

              &::after {
                height: 0;
              }

              &:has(.nav-link.active)::after {
                background-color: $lightwhite;
                opacity: .8;
                width: 100%;
                height: 6px;
              }

              .nav-link {
                border-radius: 8px;
                padding: 4px 16px;

                &.active {
                  background-color: transparent;

                  &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Scroll Top
  #backtop {
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 56px;
    height: 56px;
    cursor: pointer;
    transition: opacity .1s;

    .scroll-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 100%;
      width: 56px;
      height: 56px;
      background-color: #3E3E3E;
      gap: 2px;
      opacity: .5;
      transition: opacity .1s;

      &:hover {
        opacity: 1;
      }

      .bi-caret-up-fill {
        margin-top: 14px;
        color: $lightwhite;
        display: flex;
        align-items: center;
        height: 8px;
      }

      p {
        font-family: "be vietnam pro";
        color: #f4f4f4;
        font-size: 14px;
      }
    }
  }

  // member bio page
  .profile-wrap {
    section.level2 {
      ul {
        .item {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          justify-content: space-between;

          .date {
            text-align: right;
            min-width: fit-content;
            margin-left: 56px;

            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media all and (min-width: 1170px) {

  // our team page #meet our team
  #meet-our-team {
    .members-card-wrap {
      ul {
        li {
          width: calc(33.33% - 24px);

          .members-card {
            .info-wrap {
              .members-profile {
                padding: 4px 16px 16px;

                .name p {
                  font-size: 20px;
                  margin: 6px 0;
                }

                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }

    .members-category-desc {
      flex-direction: row;
      justify-content: space-between;

      .desc {
        width: 320px;
      }
    }
  }
}
